.homePageWraper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.formWraper{
  background: #282a36;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

footer{
  position: fixed;
  bottom: 0;
}

footer a{
  color: #4aee88;
  transition: all 0.3s ease-in-out;
}

.inputgroup{
  display: flex;
  flex-direction: column;
}

.mainLabel{
  margin-top: 0;
  margin-bottom: 20px;
}

.homePageLogo{
  height: 80px;
  margin-bottom: 20px;
}

.inputbox{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
  background: #eee;
  color: black;
}

.btn{
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  /* color: black; */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinbtn, .leavebtn{
  background: #4aed88;
width: 100px;
margin-left: auto;
}

.joinbtn:hover, .leavebtn:hover{
  background: #2b824c;
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #368654;
}

.mainWrap{
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside{
background: #1c1e29;
padding: 16px;
color: #fff;
display: flex;
flex-direction: column;
}

.asideInner{
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}



.logo{
  border-bottom: 2px solid #424242;
  padding-bottom: 10px;
}

.logoImage{
  height: 60px;
}

.leavebtn{
  margin-top: 20px;
width: 100%;
}
.copybtn{
  background: #eee;
  color: #424242;
}

.CodeMirror {
  min-height: calc(100vh - 20px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}